@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

.counter-up {
    background-color: #f3f3f3;
    
  
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
    margin-top:30px ;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 30px 40px;
    font-family: 'Poppins', sans-serif;



}



.counter-up .content {
    display: flex;
     width: 100%;  
    height: 100%; 
    
    justify-content: space-between;
    flex-wrap: wrap; 
    text-align: center;

}

.content .box {
    width: calc(25% - 30px);
    
    border: 1px solid #bdbaba;
    border-radius: 5px;
    background-color: white;
    box-shadow:2px 2px 8px ;
    padding: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: #000000;
    

}

.content .box .icon {
    font-size: 35px;
    color: #005B75;

}

.content .box .counter {
    font-size: 35px;
    color: #005B75;
    font-family: sans-serif;

}

.content .box .text {
    color: #5b5b58;
    color: #005B75;
    font-weight: 500;

}

@media screen and (max-width: 1036px) {
    .counter-up {
        padding: 50px 50px 0 50px;
    }

    .counter-up .content .box {
        width: calc(50% - 30px);
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 580px) {
    .counter-up .content .box {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        padding: 20px;
    }

    .counter-up {
        padding: 30px 20px 0 20px;
    }
}