*{
    margin: 0;
    padding: 0;


}

:root {
    --primary-color: #005B75;
    

    --secondary-color: rgb(214, 192, 151);

}

.header {
     min-height: 55vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(image/bg-hero.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


nav {
    display: flex;
    padding: .5% 4%;
    align-items: center;
    justify-content: space-between;

    background-color: var(--primary-color);

    z-index: 3;
    position: sticky;
    top: 0;
}

#bunch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Name {
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: 'Playfair Display', serif;
    ;
}




nav img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.nav-link {
    flex: 1;
    text-align: right;
}

.nav-link ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-link ul li a {
    color: black;
    text-decoration: none;
    font: 13px;
    font-family: 'Playfair Display', serif;
    ;
    font-weight: bold;

}

.nav-link ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--secondary-color);
    /* background-color: var(--primary-color);  */
    display: block;
    margin: auto;
    transition: 0.5s;

}

.nav-link ul li:hover::after {
    width: 100%;

}

.nav-link ul li a:hover {
    color: rgb(244, 242, 243);
}

.text-box {
    width: 100%;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;

    text-align: center;
    justify-content: space-between;
    flex: 1;
}

/* -----------------------------------dropdown -------------------------------------- */

li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 131px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px 6px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color:var(--primary-color);}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }




.text-box-col {

    flex-basis: 50%;
    padding: 30px;
    flex-grow: 1;



}
.text-box-col span{color: var(--primary-color);
    
}
.text-box img {
    /* width: 80%; */
    /* padding-top: 30px; */
    margin-top: 22px;
    /* border-radius: 7px; */
    



    width: 100%;
    
    object-fit: cover;
    object-position: center center;
    border-radius: 7% 7% 7% 7%;
    /* box-shadow: 16px -16px 0px 0px var(--primary-color); */

}

.text-box h1 {
    font-size: 2.5rem;
    border-left: 8px solid var(--primary-color);

    border-radius: 3px;
    margin: 15px 12px;




}

.Faculty-allen {
    font-size: 2.5rem;
    /* display: none; */
}

.text-box p {
    display: none;
    margin: 3px 0 20px;
    font-size: 18px;
    text-align: center;
    color: #c50d77;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 2px 20px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

.hero-btn:hover {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    transition: .5s;
}

#join-us {
    margin-bottom: 20px;
}

nav .fa-solid {
    display: none;
}

.contact-btn {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 8px;
    bottom: 50px;
    z-index:5

}
.contact-btn::before{
    content: '';
    position: absolute;
    border: 15px solid rgb(10, 90, 24);
    border-radius:50% ;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    animation: bloom2 1.5s  linear infinite;
    opacity: 0;
    z-index: -1;
}

.contact-btn::after{
    content: '';
    position: absolute;
    border: 15px solid rgb(10, 90, 24);
    border-radius:50% ;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    animation: bloom1 1.5s  linear infinite;
    opacity: 0;
    z-index: -1;
    animation-delay: 0.5s;

}

.contact-btn-call {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 30px;
    bottom: 140px;
    z-index:5;
    border-radius: 50%;

}
.contact-btn-call::before{
    content: '';
    position: absolute;
    border: 15px solid rgb(10, 90, 24);
    border-radius:50% ;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    animation: bloom2 1.5s  linear infinite;
    opacity: 0;
    z-index: -1;
}

.contact-btn-call::after{
    content: '';
    position: absolute;
    border: 15px solid rgb(10, 90, 24);
    border-radius:50% ;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    animation: bloom1 1.5s  linear infinite;
    opacity: 0;
    z-index: -1;
    animation-delay: 0.5s;

}





@keyframes bloom1{
    0%{
        transform: scale(0.5);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: (1.5);
    }
}

@keyframes bloom2{
    0%{
        transform: scale(0.5);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: (1.5);
    }
}















.contact-btn-call .fa-phone {
    color: green;
    font-size: 25px;
    padding: 3px 5px;
    margin: 4px 0px;
    background-color: white;

    
    box-shadow: 2px 2px 2px rgb(42, 42, 41);

    border-radius: 20%;
}

.contact-btn .fa-whatsapp{
    color: green;
    font-size: 40px;
    padding: 3px 5px;
    background-color: white;
    box-shadow:2px 2px 2px rgb(42, 42, 41);

    border-radius: 50%;
    margin: 0px 0px;
}



@media (max-width:700px) {
    .text-box h1 {
        font-size: 34px;
        /* margin-top: 10px; */

    }

    .nav-link ul li {
        display: block;
    }


    .nav-link {
        position: fixed;
        background-color: var(--secondary-color);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
        /* overflow: hidden; */
    }

    nav .fa-solid {
        display: block;
        color: #121111;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-link ul {
        padding: 15px;
    }

    .text-box {
        flex-wrap: wrap-reverse;


    }

    #text {
        padding-top: 0px;
    }

    .text-box img {
        padding: 0px;
        /* padding-top: 25PX; */
        padding-bottom: 5px;
        width: 88%;
    }

    .text-box-col {
        padding: 0px;
        flex-grow: 1;
        flex: column;
        flex-basis: auto;
    }

    .Faculty-allen {
        display: none;
    }

    .text-box p {
        display: block;

    }



}




/* ---------------------------------------------course------------------------------------- */

.course {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding-top: 0px;

}

.course h1 {
    font-size: 38px;
    font-weight: 600;
}

.course p {
    color: #464652;
    font-size: 14px;
    font-weight: 22px;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}


.course-col {
    flex-basis: 31%;
    background: #e0eda46b;
    box-shadow: 5px 5px 3px rgb(42, 42, 41);
    border-radius: 10px;
    margin-bottom: 8%;

    padding: 0px;
    padding-bottom: 15px;
    box-sizing: border-box;
    transition: 0.5s;
    flex-wrap: wrap;

}

.course-col h3 {
    text-align: center;
    font-weight: 600;
    margin: 0px 0;
    background-color: var(--primary-color);
    border-top-left-radius: 10px;
    color: white;
    border-top-right-radius: 10px;
    padding: 6px 0px;

}

.course-col:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }

    .course {
        width: 90%;
    }

}

/* ---------------------------------------------faculty----------------------------------------- */


.faculty {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 0px;
}

.faculty h1 {
    font-size: 26px;
    font-weight: 600;



}


.faculty-col {
    flex-basis: 22%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;

    box-shadow: 0 0 10px rgb(218, 218, 218);


}

.faculty-col img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;


}


.faculty-col p {
    padding: 8px;
    color: #212323;

}

.faculty-col h3 {
    margin-top: 3px;
    margin-bottom: 5px;
    text-align: left;
    padding: 5px;
    color: var(--primary-color);

}






/* ------------------------------------------------------facility---------------------------------------------- */

.facilities {
    width: 80%;
    margin: auto;

    text-align: center;
    margin-top: 50px;
}

.facilities-col {
    flex-basis: 22%;
    border-radius: 10px;
    margin-top: 5%;
    text-align: center;
    color: rgb(216, 212, 212);
    padding: 5px;
    background-color: #0d1028;


}

.circle {

    position: relative;
    width: 118px;
    height: 118px;
    color: #eae5e7;
    font-size: 50px;
    text-align: center;
    line-height: 118px;

    border-radius: 50%;
    margin-top: -59px;
    display: inline-block;
    margin-bottom: 10px;

    /* background-image: linear-gradient(to left, #45A401 0%, #9EE213 100%); */
    background-image: linear-gradient(to left, #6739b7 0%, #005B75 100%);
}


.facilities-col p {
    padding: 5px;

}

.facilities-col h3 {
    margin-top: 3px;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;

}

@media (max-width:700px) {
    .facilities-col {

        margin-top: 20%;
        
    }

    .facilities {
        width: 90%;
    }

}

/* --------------------------------------------review-------------------------------------------- */

.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;

}

.testimonials-col {
    flex-basis: 47%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #e3f0ed;
    padding: 7px;
    cursor: pointer;
    display: flex;

}

.testimonials-col img {
    height: 30px;
    margin-left: 2px;
    margin-right: 4px;
    border-radius: 50%;

}

.testimonials-col h3 {
    margin-top: 2px;
    text-align: left;

}

.testimonials-col p {
    padding: 5px;
}

.testimonials-col .fa-solid,
.fa-regular {
    color: #F99D27;
    margin-top: 5px;
}

@media (max-width:700px) {
    .testimonials-col img {

        margin-left: 0px;
        margin-right: 15px;


    }

    .testimonials {
        width: 90%;
    }
}



@media (max-width:700px) {
    .cta h1 {
        font-size: 24px;
    }

}





/* ----------------------------------------------About us page------------------------------------------------- */
.sub-header {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.2)), url(image/abt-ban-2.png);
    background-position: center;
    background-size: cover;


    background-repeat: no-repeat;
    text-align: center;
    color: #fff;

}

.sub-header h1 {
    margin-top: 120px;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 0px;

}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;

}

.about-col img {
    width: 100%;

}

.about-col h1 {
    padding-top: 0;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.about-col p {
    padding: 15px 0 25px;
    font-size: 1.17rem;
}

.review {
    padding: 0;
}

@media (max-width:700px) {
    .sub-header {
        height: 35vh;
    }

    .about-us {
        width: 90%;
    }

}

/* ----------------------------------------------course page-------------------------------- */


.sub-header1 {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.4)), url(image/Online_Training.png);
    background-position: center;
    background-size: cover;


    background-repeat: no-repeat;
    text-align: center;
    color: #fff;

}

.row2 {


    justify-content: center;

}

.course-col2 {

    margin-left: 20px;
    margin-right: 20px;

}

.course-detail {
    text-align: left;
    margin-left: 20px;
    padding: 20px;
    margin-top: -70px;
}

.course-detail h1 {
    padding: 10px;
    font-size: 3rem;

}

.course-detail p {
    padding-bottom: 20px;
}


@media (max-width:700px) {
    .course-detail h1 {
        padding: 10px;
        font-size: 1.2rem;

    }

    .sub-header1 {
        height: 40vh;
    }

}

/* --------------------------------------------Gallary-----------------------------------------------*/

#gallary {
    margin-top: 3%;
}

.gallary-row {
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallary {
    width: 90%;
    margin: auto;

    text-align: center;
    padding-top: 0px;

}

.gallary-col {
    flex-basis: 24%;
    border-radius: 4px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;




}

.gallary-col img {
    width: 100%;
    display: block;
    height: 100%;
}

.gallary h1 {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 3px;
}

@media (max-width: 700px) {
    .gallary-row {
        flex-direction: column;
    }



}

/* --------------------------------------------contact us page------------------------------------- */
.location {
    width: 90%;
    margin: auto;
    padding: 50px 0;


}

.location h1 {
    text-align: center;
    margin: 20px;
}

.location iframe {
    width: 100%;

}

.contact-us {
    width: 80%;
    margin: auto;

}

.contact-us h1 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.contact-col {
    flex-basis: 48%;


}

.contact-col div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.contact-col div .fa-solid {
    font-size: 28px;
    color: var(--primary-color);
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p {
    padding: 0;
}

.contact-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(146, 163, 153);
    font-weight: 400;
}

.form {
    background: linear-gradient(rgba(157, 6, 76, 0.85), rgba(232, 198, 50, 0.85));
    padding: 20px;
    padding-top: 0px;
    border-radius: 8px;
}

.form h2 {
    text-align: center;
    padding: 30px;
}

.contact-col input,
.contact-col textarea {
    width: 100%;
    border-radius: 7px;
    padding: 15px;
    margin-bottom: 17px;
    background-color: #f8d8d5;

    border: 2px solid #ffffff;
    box-sizing: border-box;
}


@media (max-width: 700px) {

    .contact-us {
        width: 90%;
        margin: auto;
    }
 }   