* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #005B75;
    --secondary-color: wheat;

}


header {
    text-align: center;
    background-color: aliceblue;
    padding: 10px;
    margin: 10px 0px;
    /* margin: 10px; */

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
}

.column {
    flex: 20%;
    padding: 0px 10px;
    margin-bottom: 5px;

}


.physics {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    box-shadow: 5px 5px 5px gainsboro;

}
.physics a{ 
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    color: var(--primary-color);
    

}




@media screen and (max-width:900px) {
    .column {
        flex: 50%;

    }

    @media screen and (max-width:600px) {
        .column {
            flex: 100%;
        }

    }
}